@font-face {
  font-family: $gothamblack;
  src: url('../fonts/GothaProBla.otf');
}
@font-face {
  font-family: $gothambold;
  src: url('../fonts/GothaProBol.otf');
}
@font-face {
  font-family: $gotham;
  src: url('../fonts/GothaProReg.otf');
}
@font-face {
  font-family: $gothammed;
  src: url('../fonts/GothaProMed.otf');
}

