$width-max: '(min-width: 1336px)';
$width-mid: '(min-width: 836px)';
$width-sm: '(min-width: 576px)';
$width-xs: '(min-width: 480px)';

$gotham: "GothamPro";
$gothammed: "GothamPro-Medium";
$gothamblack: "GothamPro-Black";
$gothambold: "GothamPro-Bold";

$pinkmain: "#a70c5d";

$fontkmain: "#414252";
$fonttitle: "#3f4147";
